body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 10px auto;
  max-width: 500px;
}

a {
  text-decoration: none;
}

nav a {
  margin: 10px;
}

h2 {
  text-align: center;
}

.home {
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 10px;
  height: 50px;
  width: 150px;
}